@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 font-sans;
  }

  h1,
  h2 {
    @apply font-serif tracking-tightish;
  }

  p {
    @apply leading-[1.65];
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-primary-600;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
